* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: SFProDisplay;
}

@font-face {
  font-family: SFProDisplay bold;
  src: url(./utils/cssFonts/sf-pro-display-cufonfonts/SFPRODISPLAYBLACKITALIC.OTF);
}
